@charaset "utf-8";

/*===================================
/*共通設定
===================================*/
body{
	background-color:#ddd;
	color:#352915;
	font-family:'Cantarell', sans-serif;
	font-size:87.5%;
	font-stretch:expanded;
	line-height:1.5;
	margin:0;
}

h1{
	font-size:3em;
	font-family:'Cinzel', serif;
	text-align:center;
	margin:0;
	padding:1.5em 0 0 0;
}
h1 a{
	color:#352915;
	text-decoration:none;
}
h1 a:hover{
	opacity:.6;
}

nav ul{
	overflow:hidden;
	margin:0 0 6vh;
	padding:0 8vw;
	list-style-type:none;
}
nav ul li{
	float:left;
	padding:0 4vw;
}
nav ul li a{
	font-size:1.2em;
	font-stretch:expanded;
	letter-spacing:.2em;
	text-align:center;
	color:#352915;
	overflow:hidden;
	display:block;
	text-decoration:none;
}
nav ul li a:hover{
	opacity:0.6;
}

h2{
	font-size:2em;
	font-stretch:expanded;
	letter-spacing:.15em;
	font-weight:500;
}

.image img{
	width:500px;
	height:auto;
}

main p{
	border:1px solid #352915;
	margin:.5em .5em 0 .5em;
	padding:80px 30px;
}

main{
	text-align:center;
}


/*ハンバーガーメニューを非表示*/
input[type="checkbox"] {
  display: none;
}
.bg_bl{
	color:#352915;
}
@media screen and (min-width: 1031px){
#hm_icon{
  display: none;
}
.aside-section {
  display: none;
}
}

/*ページTOPボタン*/
#page_top_btn a {
    display: block; /*配置の調整*/
	margin:0 7px 0 auto;
    text-decoration: none; /*文字の下線を消す*/
	letter-spacing:.1em;
	line-height:30px;
    color: #fff; /*文字の色*/
    background: #352915; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    border-radius: 10%; /*ボタンを丸くする*/
    outline: none; /*クリックしたときの黒い枠を消す*/
    width: 55px; /*ボタンの幅*/
    height: 30px; /*ボタンの高さ*/
}
#page_top_btn a:hover {
	opacity:.6;
}


/*TOPページ*/
#back_img{
	background-image:
	linear-gradient(109.6deg,rgba(40,10,6,.5),rgba(50,0,0,.5)),url(../img/bg.jpg);
	background-size:cover;
	height:100vh;
	padding-bottom:.5em;
	color:#fff;
}

#back_img h1{
	color:#fff;
}

#back_img nav a{
	color:#fff;
}

#back_img p{
	color:#fff;
	border:1px solid #fff;
}

/*各ページ*/
/*===================================
Illustratorページ
===================================*/
.slider {
	position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*スライドショーの画像を設定*/
.slider-item01 {
    background:url(../img/3i_logo.gif);
}
.slider-item02 {
    background:url(../img/3i_mbar_menu.gif);
}
.slider-item03 {
    background:url(../img/3i_mbar_news.gif);
}
.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
    text-align:center;
  margin:-50px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*========= レイアウトのためのCSS ===============*/
ul .slider{
  margin:0;
  padding: 0;
  list-style: none;
}

.wrapper h1{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.wrapper{
  position: relative;
}
/*Illustratorページここまで*/
