@charset "utf-8";

/*===================================
/*初期設定
===================================*/
body {
  background-color: #ebebeb;
  color: #000;
  font-size: 1rem;
  font-family:
    "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-stretch: expanded;
  margin: 0;
}
h1,
h2,
h3,
p,
figure {
  margin: 0;
}
p {
  margin: 5vh 0;
  line-height: 1.85;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  margin-bottom: 10vh;
}
h1 {
  position: absolute;
  margin: 0;
  width: 100%;
  top: 10%;
  font-size: clamp(2rem, 12vw, 4em);
  text-align: center;
  z-index: 10;
}
.cmnt {
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 3;
}
header p {
  text-align: center;
}
.bottom {
  display: block;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 3;
}

/* 矢印 */
.arrow {
  position: relative;
}
.arrow::before {
  content: "";
  margin: -5vh;
  position: absolute;
  left: 70%;
  width: 13px;
  height: 13px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg); /* < の向き */
}
/* 矢印　ここまで */

/* topのスライドショー st */
.img-frame {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

/* 半透明矩形 */
.img-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* 背景色にグラデ */
.img-frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(235, 235, 235, 0) 80%,
    rgba(235, 235, 235, 1)
  );
  z-index: 2;
}
.blur {
  -ms-filter: blur(3px);
  filter: blur(3px);
}
@media screen {
  .img-01,
  .img-02,
  .img-03 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .img-01 {
    background-image: url("../img/01wb103_momo.jpg");
    animation: slide-animation-01 24s infinite;
  }
  .img-02 {
    background-image: url("../img/01wb101_momo.jpg");
    animation: slide-animation-02 24s infinite;
  }
  .img-03 {
    background-image: url("../img/01wb201_momo.jpg");
    animation: slide-animation-03 24s infinite;
  }
}
@keyframes slide-animation-01 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(1.15);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
/* topのスライドショー ed */

#container,
#container2 {
  position: relative;
  z-index: 4;
  background: linear-gradient(#fff 90%, #ebebeb);
  border-radius: 5em 0 0 0;
  padding: 15vh 10vw;
}

/* アニメーション下から現れる */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}
/* アニメーション下から現れる　ここまで */

h2 {
  font-size: clamp(2rem, 12vw, 4em);
  /* font-size: 3em; */
  border-bottom: #000 3px solid;
}
summary {
  color: #00f;
}
figcaption {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2vh;
}
/* リストに戻るボタン */
/*.backlist {
  position: fixed;
  bottom: 5vh;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  display: none;
}
.backlist a {
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 15vw;
  height: 15vw;
  width: 25vw;
  min-height: 70px;
  min-width: 100px;
}
.arrowup {
  margin: 0;
}
.arrowup::before {
  content: "";
  margin: auto;
  position: absolute;
  left: 30%;
  top: 20%;
  width: 5vw;
  height: 5vw;
  max-width: 20px;
  max-height: 20px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-135deg); */ /* < の向き */
/* } */

.panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
  gap: 1vh;
  text-align: center;
  margin-bottom: 10vh;
  overflow: hidden;
}
.panel img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
}

h3 {
  font-size: 2em;
}
.detail {
  display: flex;
  margin-bottom: 10vh;
}
.detail img {
  width: 40vw;
}
.rSide {
  margin-left: 5vw;
}

footer {
  background-color: #ebebeb;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}
.pdng {
  padding: 20vh 0;
  margin: 0;
}
.btn {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  text-align: center;
  line-height: 100px;
}
.flexH {
  display: flex;
  justify-content: space-evenly;
}
.neumorphism {
  border-radius: 30px;
  background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
  box-shadow:
    12px 12px 24px #c8c8c8,
    -12px -12px 24px #ffffff;
}
.neumorphism:hover {
  border-radius: 30px;
  background: #ebebeb;
  box-shadow:
    inset 12px 12px 24px #c8c8c8,
    inset -12px -12px 24px #ffffff;
}

/* 幅が狭いとき */
@media (max-width: 350px) {
  .panel {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn {
    width: 25vw;
    height: 25vw;
    border-radius: 15px;
    font-size: 4vw;
    text-align: center;
    line-height: 25vw;
  }
  .neumorphism {
    border-radius: 15px;
  }
  .neumorphism:hover {
    border-radius: 15px;
  }
}
@media (max-width: 400px) {
  .backlist a {
    font-size: 4vw;
  }
}
